@model IEnumerable<ASI.Basecode.Services.ServiceModels.CategoryViewModel>

@{
    ViewData["Title"] = "Category Page";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)  // Assuming Categories is a list in the CategoryViewModel
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="text-center">
                    @Html.ActionLink("Edit", "Edit", new { CategoryId = item.CategoryId}, new { @class = "btn btn-sm btn-warning" }) |
                    @Html.ActionLink("Delete", "Delete", new { CategoryId = item.CategoryId}, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>


